{% extends 'poll/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}



    <table class="table table-bordered table-dark table-responsive" >
        <thead>
        <tr>
            <th scope="col">S.NO</th>
            <th scope="col">List of Polls Conducted</th>

            <th scope="col">Started on</th>
            {% if user.is_superuser %}
                <th scope="col">Username</th>



                <th scope="col">Real Name</th>
                <th scope="col">Total Votes</th>
            {% else %}
                <th scope="col">Started by</th>
                <th scope="col">Total Votes</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for question in questions %}

            <tr>


                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'image-detail-poll' question.id %}" id="image-list">{{ question.question }}</a></td>

                <td>{{ question.date.date }}</td>
                {% if user.is_superuser %}
                    <td>{{ question.created_by.username }}</td>

                    <td>{{ question.created_by.first_name }} {{ question.created_by.last_name }}</td>
                    <td>{{ question.total_count }}</td>
                {% else %}

                    <td>Anonymous</td>
                    <td>{{ question.total_count }}</td>

                {% endif %}

            </tr>
        {% endfor %}

        </tbody>
    </table>



{% endblock %}
