{% extends 'poll/base.html' %}

{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}


    <h3>{{ question }}</h3><br>

    {% for resul,name in result %}

        <h6>{{ name }}</h6>
        <div class="progress mb-2">
            <div class="progress-bar {{ pbcolor }}" role="progressbar" aria-valuenow="40"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ resul }}%">
                {{ resul }} %
            </div>
        </div>

    {% endfor %}
    <a class="btn btn-outline-info mt-4" href="{% url 'all-poll' %}">Go back</a>




{% endblock %}
